<html>
    <head>
        <title>ChunBo</title>
               
        <link rel="icon" type="image/x-icon" href="./img/chunbo3.png">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Gaegu|Mina|Poiret+One|Righteous" rel="stylesheet">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
         <link rel="stylesheet" href="main.css"> 
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <body ng-app="myApp" >
        <section class="section">
            <div class="container  margintop10" ng-controller="mainController">
                
                <!--Logo-->
                <div class="columns is-gapless mylogobar" style = "padding-top:10px;">
                    <div class="column chunbo-name has-text-centered" >
                        <span class="has-text-text">C</span>
                        <span class="has-text-info">h</span>
                        <span class="has-text-primary">u</span>
                        <span class="has-text-warning">n</span>
                        <span class="has-text-text">B</span>
                        <span class="has-text-info">o</span>
                    </div>
                    
                </div>

                <!--Search Bar-->
                <div class="columns mysearchbar" >
                    
                    <div class="column is-8 is-offset-2 ">
                        <div class="field has-addons ">
                            <p class="control">
                                <span class="select">
                                    <select id="searchSelect" ng-model="searchKernel.selected" >
                                        <option ng-repeat="op in searchKernel.options" ng-value="op">{{op.name}}</option>
                                    </select>
                                </span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input is-round is-info" id="search" type="text"
                                ng-keyup="$event.keyCode == 13 ? search(searchHost.all, searchtext.content, 1) : consol.log($event);" 
                                ng-model="searchtext.content" placeholder="Search in {{ searchKernel.selected.name }}...">
                            </p>
                            <p class="control">
                                <a class="button is-warning" ng-click="search(searchHost.all, searchtext.content, 1)" >
                                Search!
                                </a>
                            </p>
                        </div>
                    </div>                 
                </div>

                <!--Classify Bar-->
                <div class="tabs is-boxed is-centered" ng-if="searchHost.show">
                        <ul>
                            <li id="all" ng-if="searchHost.show" ng-click="search(searchHost.all, searchtext.content, 1)"><a>All</a></li>
                            <li id="news" ng-if="searchHost.show" ng-click="search(searchHost.news, searchtext.content, 1)"><a>Ettoday</a></li>
                            <li id="facebook" ng-if="searchHost.show" ng-click="search(searchHost.facebook, searchtext.content, 1)"><a>Facebook</a></li>
                        </ul>
                </div>
                
                <!--Search Info-->
                <div class="columns" style="margin-top:8px;">
                    <div class="column is-2 is-offset-4"><em>{{ searchResult.resultTotal }}</em></div>
                    <div class="column is-2 "><em>{{ searchResult.searchTime }}</em></div>
                </div>
                
                <!--Search Result-->
                <div class="columns " >
                    <div class="column is-8 is-offset-2">
                        <div class="content resultInfo" ng-repeat="result in response.hits.hits"> 
                            <a  href="{{ result._source.url }}" style="font-size:24;">{{ result._source.title }}</a><br>
                            <h6><a  href="{{ result._source.url }}" style="color:darkslategray;">{{ result._source.url }}</a></h6>
                            <div class="" sytle="padding-left:20px;">
                                <div class="contentInfo" ng-repeat="highlight in result.highlight.content.slice(0, 3)">
                                    <div style="font-size:12; opacity:0.9;" ng-bind-html="highlight"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Pagination-->
                <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" ng-if="searchPages[0].display"
                         ng-click="search(searchPages[0].url, searchtext.content, nowpage - 1)">
                         <span class="icon"><i class="fas fa-angle-left"></i></span>Previous</a>
                    <a class="pagination-next"  ng-if="searchPages[0].display" 
                        ng-click="search(searchPages[0].url, searchtext.content, nowpage + 1)">
                        Next page<span class="icon"><i class="fas fa-angle-right"></i></span></a>
                    <ul class="pagination-list">
                        <li><a id="{{ page.num }}"class="pagination-link" ng-click="search(page.url, searchtext.content, page.num)"  ng-if="page.display" 
                            ng-repeat="page in searchPages">{{ page.num}}</a></li>
                        
                    </ul>
                </nav>
                
            </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="mainController.js" ></script>
</html>